<div style="padding:1rem">

    <h1>Services</h1>

    <p>
         - Modularizes Data<br><br>
        - to generate a new service, use command: <br>
        <b>ng g service employee</b><br><br>
        This will auto generate the service, but you will need to "register it"<br><br>
         - you have to "register" it to the components; to do the broadest scope,<br><br>
        "register" it in app.module.ts" in providers: []<br>
        and then be sure to do the import &#123; EmployeeService &#125; from '../employee.service';<br>
        in the associated . compmonents.ts files
    </p>

</div>


<app-employee-list></app-employee-list>
<app-employee-details></app-employee-details>